.divider {
  display: flex;
  height: 1rem;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
}

.divider:before,
.divider:after {
  content: "";
  background-color: var(--foreground-gray-subtlest);
  height: 0.0625rem;
  width: 100%;
  flex-grow: 1;
}

@media print {
  .divider:before,
  .divider:after {
    border: 0.5px solid;
  }
}

.divider:not(:empty) {
  gap: 1rem;
}

.divider-horizontal {
  --divider-m: 0 1rem;
}

.divider-horizontal.divider {
  height: auto;
  width: 1rem;
  flex-direction: column;
}

.divider-horizontal.divider:before {
  height: 100%;
  width: 0.125rem;
}

.divider-horizontal.divider:after {
  height: 100%;
  width: 0.125rem;
}

.divider-vertical {
  --divider-m: 1rem 0;
}

.divider-vertical.divider {
  height: 1rem;
  width: auto;
  flex-direction: row;
}

.divider-vertical.divider:before {
  height: 0.125rem;
  width: 100%;
}

.divider-vertical.divider:after {
  height: 0.125rem;
  width: 100%;
}

.divider-start:before {
  display: none;
}

.divider-end:after {
  display: none;
}
