.progressbar-container {
  display: flex;
  flex-direction: row;
  gap: var(--size-8);
  margin-bottom: var(--size-40);
  position: relative;
  justify-content: space-between;
}

.progressbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-12);
  overflow: hidden;
}

.progressbar::before {
  content: '';
  height: 2px;
  position: absolute;
  top: var(--size-6);
  margin: 0 var(--size-16);
}

.progressbar:nth-of-type(2)::before {
  width: 44%;
  right: 48%;
}

.progressbar:nth-of-type(3)::before {
  width: 48%;
  right: 0;
}

.progressbar-notyet::before {
  background-color: var(--fill-gray-default);
}

.progressbar-inprogress::before {
  background-color: var(--fill-brand-subtle);
}

.progressbar-done::before {
  background-color: var(--fill-brand-strong);
}

.progressbar:first-of-type::before {
  content: none;
}

.progressbar-text {
  top: var(--size-8);
  color: var(--foreground-gray-default);
  font-size: var(--text-sm);
  font-weight: var(--text-weight-medium);
}

.progressbar-indicator {
  width: var(--size-16);
  height: var(--size-16);
  border-radius: var(--radius-999);
  z-index: 1;
  outline: 2px solid var(--foreground-gray-subtler);
}

.progressbar-inprogress .progressbar-indicator {
  background-color: var(--fill-brand-default);
}

.progressbar-notyet .progressbar-indicator {
  background-color: var(--fill-brand-subtle);
}

.progressbar-done .progressbar-indicator {
  background-color: var(--fill-brand-strong);
}
